/* 
 The purpose of this file is to define the styling for the newSpecies page within the admin folder

 Author: Agowun Muhammad Altaf (A00448118), wrote the whole file
*/

// import the Quicksand font style from google fonts https://fonts.google.com/specimen/Quicksand
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;700&display=swap");

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: "Quicksand", sans-serif;
}

#form {
    padding: 1em 10vw;
    display: flex;
    flex-direction: column;

    .preview {
        padding: 1em;
        background: whitesmoke;
        border-radius: 1rem;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 1em;
        position: relative;

        img {
            width: 100%;
            border-radius: 1rem;
            object-fit: cover;
        }

        &::after {
            position: absolute;
            bottom: 0;
            left: 0;
            transform: translateY(100%);
            content: "Click on image to remove";
        }
    }

    #imageInputLabel {
        background-color: rgba($color: #000000, $alpha: 0.1);
        padding: 0.5em 1em;
        margin: 0.5em auto;
        color: black;
        border-radius: 1rem;
        text-align: center;
        font-size: large;
        width: fit-content;
        cursor: pointer;
    }

    label {
        display: flex;
        flex-direction: column;
        padding: 0.5em 0;

        input,
        textarea {
            padding: 0.5em;
            font-size: large;
            border-radius: 0.5rem;
        }
    }

    #progress {
        padding: 1em;
        width: fit-content;
        margin: 0 auto;
    }

    button {
        padding: 0.5em 1em;
        border-radius: 1rem;
        border: none;
        cursor: pointer;
        background-color: #01a66f;
    }
}

button:hover {
    filter: brightness(90%);
}
