/* 
  Purpose: Interactive map by using the static image provided of the preservation
  Authors: 
  Zilong Wang  - styling
  Brandon Watson - styling
 */



/*the style for the map in background*/
#map{
     
      height: 100%; width: 100%;
      
    }
/*the style of detailed description box*/    
    #detail_block{
      height: 755px;
      width: 0px;
      background-color: aliceblue;
      position: absolute;
      overflow-y: scroll; 
      overflow-x: hidden; 
      left: 0px;
      top: 16px;
      transition: width 2s;
    }
    /*the style of brief description box which only have a picture on the top instead of slide show*/ 
    .short_description_blocks{
      height: 200px;
      width: 250px;
      background-color: aliceblue;
      position: absolute;
      border-radius: 5px;
    }
    /*the style of brief description box which have slide show on top*/ 
    .description_blocks{
      height: 250px;
      width: 250px;
      background-color: aliceblue;
      position: absolute;
      border-radius: 5px;
    }
    /*location of brief description box1*/ 
    #description1{
      top:9%;
      left:28%;
   }
    
    /*location of brief description box2*/ 
    #description2{
      top:9%;
      left:32.5%;
   }
   /*location of brief description box3*/ 
   #description3{
    top:12%;
    left:35%;
   }
   /*location of brief description box4*/ 
   #description4{
       top:19%;
       left:39%;
    }
   /*location of brief description box5*/ 
    #description5{
      top:24%;
      left:39.5%;
   }
   /*location of brief description box6*/ 
   #description6{
    top:62%;
    left:22%;
 }
  /*location of brief description box7*/ 
  #description7{
  top:29%;
  left:44%;
 }
 /*location of brief description box8*/ 
 #description8{
  top:38%;
  left:44%;
 }
 /*location of brief description box9*/ 
 #description9{
  top:40%;
  left:51.5%;
 }
 /*location of brief description box11*/ 
 #description11{
  top:55%;
  left:57%;
 }
    /*adjust the style of markers because it is from bootstrap*/ 
    .mywid{
      position: absolute;
      color: aliceblue;
      cursor: pointer;
      -webkit-animation-duration: 1s;
      animation-duration: 1s; 
      -webkit-animation-fill-mode: both; 
      animation-fill-mode: both; 
    } /*the markers class*/

    #marker1{
      top: 29.5%;
      left: 25.6%;
    }/*marker2's location*/

    #marker2{
      top: 37.5%;
      left: 31.2%;
    }/*marker2's location*/
    
    #marker3{
      top: 46.7%;
      left: 33.8%;
    }/*marker3's location*/

     #marker4{
      top: 47.3%;
      left: 37.1%;
    }/*marker4's location*/
  
    #marker5{
      top: 52%;
      left: 37.8%;
    }/*marker5's location*/


    #marker6{
      top: 58.6%;
      left: 37.7%;
    }/*marker6's location*/

    #marker7{
      top: 58.6%;
      left: 41.5%;
    }/*marker7's location*/

    #marker8{
      top: 64.5%;
      left: 45.9%;
    }/*marker8's location*/

    #marker9{
      top: 68%;
      left: 49.8%;
    }/*marker9's location*/

    #marker11{
      top: 77%;
      left: 55%;
    }/*marker11's location*/



   /*The top part of the brief description box-----the slide show container*/
    .slideshow-container{
      height: 125px;
      width: 250px;
      border-radius: 5px 5px 0 0; 
    }

    /*The part for the animation of slideshow in the brief description box*/
    .slideshow_image{
      height: 125px;
      width: 250px;
      border-radius: 5px 5px 0 0; 
      position: relative;
      animation-name: fade;
      animation-duration: 1.5s;
    }

    @keyframes fade {
      from {opacity: .4} 
      to {opacity: 1}
    }
    
   /*The part for the "next" and "previous" button of slideshow in the brief description box*/
    .prev{
      height: 125px;
      width: 25px;
      cursor: pointer;
      position: absolute;
      color: white;
      font-size: 25px;
      transition: 0.6s ease;
      user-select: none;
      border-radius: 5px 0 0 0;
      top: 0;
      left: 0;
      text-align: left;
      padding-top: 43px;
    }/*"previous" button on slide show*/
    
    .next{
      height: 125px;
      width: 25px;
      cursor: pointer;
      position: absolute;
      color: white;
      font-size: 25px;
      transition: 0.6s ease;
      user-select: none;
      border-radius: 0 5px 0 0;
      top:0;
      right: 0;
      text-align: right;
      padding-top: 43px;
    }/*"next" button on slide show*/
    
    .prev:hover, .next:hover {
      background-color: rgba(0,0,0,0.8);
    }


   /*The bottom part of inside the description block */
    .information_container{
      height: 125px;
      width: 250px;
      border-radius: 0 0 5px 5px; 
      
    }
    .brief_description{
      padding-left: 5px;
      font-size: 18px;
     width: 250px;
     height: 100px;
     border-radius: 0 0 0 5px; 
    } /*The brief information inside the description block */

    .small_icon_check{
      color: 	rgb(255,226,52);
    }

    .button_group{
    width: 250px;
    height: 25px;
    border-radius: 0 0 5px 0;
    padding-left: 145px;
    }/*The button group on the right of the description block */

    /*The markers' animation, when users move their mouse on it.
    It will have a bounce effect*/
    .bounce:hover {
      -webkit-animation-name: bounce;
    -moz-animation-name: bounce;
    -o-animation-name: bounce;
    animation-name: bounce;
     animation-duration: 1s;
     animation-timing-function: ease-in-out;
     animation-delay: 0s;
     animation-direction: alternate;
  }
  
  @keyframes bounce {
    0%, 20%, 50%, 80%, 100% {transform: translateY(0);opacity: 1;}
    40% {transform: translateY(-20px);}
    60% {transform: translateY(-10px);}
  }








/*The part of the detailed description box */
    .boxes_picture{
      width: 300px;
      height: 200px;
    }/*The picture container on the top of the detailed description box */

    #picture_part{
      width: 300px;
      height: 200px;
    }/*The picture style inside picture container */

    #information_part{
      border-top: 1px grey solid;
      width: 300px;
      height: 70px;
    }/*The div contain the locations' name and rating information 
     and introduction of location on the detailed description box */

    #name_part{
      width: 300px;
      height: 30px;
    }/*The container of location's name */

    #location_name{
      font-size: 120%;
      margin-left: 20px;
      margin-top: 0px;
      color: black;
    }/*location's name */

    #star_rate_part{
      width: 250px;
      height: 40px;
      margin-left:20px;
    }/*container for rating stars */
    
    #review{
     color: blue;
     cursor: pointer;
    }/*font color of "review" which is near the rating stars*/

    .icon{
      font-size: 20px;
      color: grey;
    }/* rating stars*/

    .icon_check{
      font-size: 20px;
      color: rgb(255,226,52);
    }/*The yellow rating stars*/

    #introduction_part{
      border-top: 1px grey solid;
      border-bottom: 1px grey solid;
     width: 300px;
     height: 362px;
    }/*The grey rating stars*/

    #introduction{
      color: black;
    }/*the container of introduction information */



    .buttons_part{
      width: 280px;
      height: 120px;
      padding-left:20px ;
      padding-top: 3px;
    }/*the container of button on bottom of detailed description box */
    .btn{
      width: 100px;
      height: 50px;
      background-color: white;
    }/*buttons' style */

  /*Scrollbar custom in detail description*/
    /* width */
    #detail_block::-webkit-scrollbar {
   width: 5px;
   }

   /* Track */
   #detail_block::-webkit-scrollbar-track {
   box-shadow: inset 0 0 5px grey; 
   border-radius: 10px;
   }
 
   /* Handle */
   #detail_block::-webkit-scrollbar-thumb {
   background: grey; 
   border-radius: 10px;
   }
   /*photo collection container(abolished part) */
   #photo_collection{
    width: 300px;
    height: 400px;
    border-top: 1px solid grey;
   }
   /*photo collection 's title(abolished part) */
   #collection_title{
    font-size: 150%;
    width: 300px;
    height: 50px;
   }
 
 
 
/*the main div to contain the whole map */
#image-container{
  height: 755px;
  width: 1500px;
  margin-right: 3%;
  position:relative;
}

#slider-container{
  padding-left: 70%;
}
/*The style of button of switch map's mode */
#mode_switch{
 width: 200px;
 height: 100px;
 right: 10px;
 top: 645px;
 background-color: grey;
 position: absolute;
}





