/*
Purpose: Provides styling for specifically the navbar and it's responsive components
Author(s) / Work Done: 
Devon Leigh - HTML element styling
*/

/*developer defined classes*/
.nav-bar {
  display: flex;
  align-items: center;
}

ul {
  display: flex;
  align-items: center;
  list-style: none;
}

.nav-bar li {
  flex: 0 0 auto;
  margin-left: 1rem;
  list-style: none;
}

.nav-bar a {
  color: black;
  opacity: 100%;
  /*text color transition*/
  transition: color 400ms ease-out;
  line-height: 1;
  font-size: 1rem;  
}

.nav-bar a:link {
  text-decoration: none;
}

.nav-bar a:hover {
  color: green;
}

/*when max-width is less than 768px, adjust content to be responsive*/
@media screen and (max-width: 768px) {
  .nav-bar {
    display: flex;
    justify-content: flex-end;
    position: absolute;
    top: 0;
    right: 0;
    width: 0%;
    height: 1000px;
    overflow-x: hidden;
    text-align: right;
    /*applys a transition to nav-bar for smoothing*/
    transition: 0.3s;
    z-index: 9999;
  }
  ul {
    display: block;
  }
  li {
    margin: 0 0 1rem;
    list-style: none;
  }
  .nav-bar a {
    color: black;
    padding: 8px 8px 8px 32px;
    font-size: 26px;
    /*transition for all link elements, specified specifically for each browser type4*/
    -o-transition: 0.5s;
    -ms-transition: 0.5s;
    -moz-transition: 0.5s;
    -webkit-transition: 0.5s;
    transition: 0.5s;
  }

  /*when max-width is less than 568px, adjust content to be responsive*/
  @media screen and (max-width: 568px) {
    .nav-bar a {
      font-size: 1rem;
    }
  }
}
