/*
    Purpose: The purpose of this scss file is to provide the styles for quiz page
    for the French Village website.

    Author: Mainuddin Alam Irteja (A00446752). Mainuddin Alam Irteja
    has worked on making the necessay styles for the quiz page.
 */
#header {
  width: 100%;
  min-height: 60vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#header div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#header div h1 {
  text-align: center;
  font-size: 6vw;
  text-transform: uppercase;
  padding-bottom: 0.5em;
}
#header div p {
  padding: 1em;
}

#quizPart {
  padding: 1em 15vw;
}
#quizPart #content {
  transform: translateZ(1%);
}
#quizPart #content fieldset {
  /* set the border to 3px. */
  padding: 1.5em;
  border-radius: 0.5rem;
  margin: 2em 0;
  background-clip: padding-box;
  border: solid 3px transparent;
  position: relative;
  background-color: var(--bg-color);
}
#quizPart #content fieldset::before {
  content: "";
  z-index: -1;
  position: absolute;
  border-radius: inherit;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: -3px;
  background: linear-gradient(45deg, #80ff80, #00a400);
}
#quizPart #content legend {
  font-weight: bold;
  float: left;
  width: 100%;
  padding-bottom: 0.5em;
  display: flex;
  justify-content: space-between;
}
#quizPart #content legend span {
  padding-left: 1em;
  opacity: 0.3;
  -webkit-animation: fadeIn ease 0.5s;
          animation: fadeIn ease 0.5s;
}
@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.3;
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.3;
  }
}
#quizPart #content label {
  margin-left: 0.3em;
}
#quizPart button {
  cursor: pointer;
  border-radius: 0.5rem;
  padding: 0.75em 1.5em;
  font-size: medium;
  border: none;
  color: white;
  background-color: var(--primary-color);
}
#quizPart #modal {
  background-color: var(--bg-color);
  margin: auto;
  border: none;
  border-radius: 0.5rem;
  padding: 1em;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.07), 0 2px 4px rgba(0, 0, 0, 0.07), 0 4px 8px rgba(0, 0, 0, 0.07), 0 8px 16px rgba(0, 0, 0, 0.07), 0 16px 32px rgba(0, 0, 0, 0.07), 0 32px 64px rgba(0, 0, 0, 0.07);
}
#quizPart #modal h2 {
  padding-bottom: 1em;
}
#quizPart #modal span {
  width: 100%;
  display: flex;
  justify-content: end;
}
#quizPart #modal span button:nth-child(1) {
  background-color: transparent;
  color: black;
}

#results {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#results #marks {
  font-size: 5em;
  font-weight: bold;
  padding-bottom: 1em;
  text-align: center;
}
#results #returnBtn {
  cursor: pointer;
  border-radius: 0.5rem;
  padding: 0.75em 1.5em;
  font-size: medium;
  border: none;
  background-color: rgba(0, 0, 0, 0.1);
}

@media only screen and (max-width: 768px) {
  #header {
    min-height: 40vh;
  }
  #header div h1 {
    font-size: 8vw;
  }
  #quizPart {
    padding: 1em;
  }
}
@media only screen and (max-width: 640px) {
  #results #marks {
    font-size: 2em;
  }
}/*# sourceMappingURL=quiz.css.map */