/* 
 The purpose of this file is to define the default styling through out the webpage
 and define the styling for shared components: nabar, footer, skip links

 Author: Agowun Muhammad Altaf (A00448118), wrote the whole file
*/

// import the Quicksand font style from google fonts https://fonts.google.com/specimen/Quicksand
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;700&display=swap");

// define shared variables related to the theme of the website
:root {
    // background color through out the website
    --bg-color: #f5f5f0;
    // grey color used through out the webpage
    --lightGrey: #dcdcd8;
    // primary color through out the website
    --primary-color: #01a66f;
}

html,
body,
main {
    width: 100%;
    height: 100vh;
}

body {
    background-color: var(--bg-color);
}


// styling for the navbar across all pages


// styling for the footer across all pages
#footer {
    overflow: hidden;
    width: 100%;
    background: var(--lightGrey);

    #topOpenning {
        z-index: 2;
        position: sticky;
        top: 0;
        width: 100%;
        background: var(--bg-color);
        height: 1.5em;
        border-radius: 0 0 1.5em 1.5em;
        box-shadow: 0 1px 2px rgba(0, 0, 0, 0.07), 0 2px 4px rgba(0, 0, 0, 0.07),
            0 4px 8px rgba(0, 0, 0, 0.07), 0 8px 16px rgba(0, 0, 0, 0.07),
            0 16px 32px rgba(0, 0, 0, 0.07), 0 32px 64px rgba(0, 0, 0, 0.07);

        &::after {
            content: "";
            position: absolute;
            top: 0px;
            left: 0;
            width: 100%;
            transform: translateY(-2px);
            background: var(--bg-color);
            height: 10px;
        }
    }

    #footerWrapper {
        display: grid;
        gap: 1em;
        grid-template-columns: repeat(3, 1fr);
        padding: 2em;
        font-size: large;

        a {
            color: #000;
        }

        #footer_logo {
            p {
                padding-top: 1em;
            }
        }

        #social {
            display: flex;
            flex-direction: column;

            #email {
                padding-bottom: 1em;
            }
        }
    }
}

// styling for the skip links across all pages
.skip_link {
    z-index: 99999;
    padding: 1em;
    color: white;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    text-align: center;
    background-color: #000;
    translate: 0 -110%;
    transition: translate 150ms ease-in-out;

    &:focus {
        translate: 0;
    }
}

// tablet size responsiveness
@media only screen and (max-width: 768px) {
    #footer {
        #footerWrapper {
            grid-template-columns: 1fr;
            padding-top: 1em;
        }
    }
}

// smartphone size responsiveness
@media only screen and (max-width: 640px) {
    nav {
        height: fit-content;
        #menu {
            display: inline-block;
            background-color: transparent;
            border: none;
            font-size: large;
            overflow: hidden;
            position: relative;
        }

        ul {
            top: calc(100% - 1em);
            right: 0;
            position: absolute;
            display: flex;
            flex-direction: column;
            background-color: var(--bg-color);
            padding: 1em;
            border-radius: 0.5rem;
            width: 100%;
            clip-path: polygon(0 0, 100% 0%, 100% 0%, 0% 0%);
        }
    }
}
